.navbar {
    overflow: hidden;
    background-color: #333333;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
}

/* Links inside the navbar */
.navbar a {
    float: left;
    display: block;
    font-weight: 500;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size:20px;
}

.navbar span > a {
	float: right;
    display: block;
    font-weight: 500;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size:20px;
}

.navbar span > a:hover {
	text-decoration: underline;
}

.button {
    background-color: #337ab7;
    border: none;
    color: white;
    padding: 15px ;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 10px;
    cursor: pointer;
    align-items: center;
    border-radius: 15px;
    width: 100px;
}

.wrapper {
    text-align: center;
}

/* Main content */
.main {
	margin-left:100px;
	margin-right:100px;
    margin-top: 30px; /* Add a top margin to avoid content overlay */
    margin-bottom: 100px;
}

body {
	font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 1.42857143;
	color: #333333;
	margin-left:0px;
}

p > span {
	color: #337ab7;
}

h1 {
	font-size: 34px;
	font-weight: 500;
	line-height: 1.1;
	text-align: center;
}

h2 {
	font-size: 150%;
	text-align: center;
}

h3 {
	font-size: 105%;
	text-align: center;
	color: #337ab7;
}

h4 {
	font-size: 150%;
	text-align: left;
	padding: 0px;
	margin-bottom: 0px;
	color: #337ab7;
}

h5 {
	font-size: 125%;
	text-align: left;
	padding: 0px;
	margin-top: 5px;
	margin-bottom: 0px;
}

h6 {
	font-size: 160%;
	text-align: center;
	padding: 0px;
	margin-top: 5px;
	margin-bottom: 0px;
}

p {
	font-size: 115%;
}

a:link {
	color: #337ab7;
	text-decoration: none;
}

a:visited {
	color: #337ab7;
	text-decoration: none;
}

a:hover {
	color: #337ab7;
	text-decoration: underline;
}

th {
	border: 1px solid black;
	font-size: 34px;
	width: 200px;
}

table {
	width: 800px;
	margin-bottom: 20px;
}

img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.img-block {
	padding: 10px;
	padding-top: 50px;
}

.img-block2 {
	padding: 10px;
	padding-top: 10px;
}

.img-circle {
	border-radius: 50%;
	padding: 10px;
	align-items: center;
}

#footer {
	position:relative;
	bottom:0;
	width:100%;
	height:60px;
}

#backgroundimage {
	   height: auto;
	   left: 0;
	   margin: 0;
	   min-height: 100%;
	   min-width: 674px;
	   padding: 0;
	   position: fixed;
	   top: 0;
	   width: 100%;
	   z-index: -1;
}
